<!doctype html>
<html>
<head>
	<title>Gateway Manager</title>
</head>
<style>
h1 {text-align: center;}
</style>
<body>
	<h1>Gateway Manager</h1>
	<form action ="{{url_for('save')}}"method="POST">
		<fieldset>
		<legend><h3>Cloud Config</h3></legend>
		<input type="radio" name="cloud_pro" value="MQTT" checked>MQTT
		<input type="radio" name="cloud_pro" value="WS">Socket
		<input type="radio" name="cloud_pro" value="HTTP">HTTP <br />
		<br />
		<input type="radio" name="cloud_type" value="Unsecured" checked>Secured
		<input type="radio" name="cloud_type" value="Secured">Unsecured<br />
		<br />
		<input type="text" name="cloud_host"required="required"placeholder="Host Address"size="30"/><br />
		<br />
		<input type="text" name="cloud_port"required="required"placeholder="Port" size="30"/><br />
		<br />
		<input type="hidden" name="group" value="Cloud"/>
		<input type="submit" value="Save" />
		</fieldset>
	</form>
	<br />
	<form action="{{url_for('save')}}"method="POST">
		<input type="hidden" name="group" value="Cancel"/>
		<input type="submit" value="Cancel"/>
	</form>
</body>