<!DOCTYPE html>

<html>
<head>
<title>Gateway Manager</title>
</head>
<style>
h1 {text-align: center;}
</style>
<body>
<h1>Gateway Manager</h1>
	<form action="{{url_for('validate')}}"method="POST">
		<fieldset>
		<legend><h3>Admin Login</h3></legend>
		<label for="username">Username</label><br />
		<input type="text" name="username"required="required" size="30"/></title><br />
		<br />
		<label for="password">Password</label><br />
		<input type="password" name="password"required="required" size="30" /><br />
		<br />
		<input type="submit" value="Login" />
		</fieldset>
	</form>
	<h2>{{msg}}</h2>
</body>
</html>